:root {
    --primary-color: #577AAF;
    --primary-color-dark: #415777;
    --background-block-color: #EAEAEA;
    --background-color: #fff;
}

input {
    outline: none;
    font-family: "JetBrains Mono", monospace;
}

select {
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--primary-color);
    padding-left: 8px;
    font-family: "JetBrains Mono", monospace;
}

input[type=submit],
input[type=button],
button {
    cursor: pointer;
}

.logo img {
    max-width: 150px;
}

.bg-light-grey {
    background: var(--background-block-color);
}

a {
    color: var(--primary-color);
    transition: all .2s;
}

a:hover {
    color: var(--primary-color-dark);
}

.jetbrains-mono {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }

.color-primary {
    color: var(--primary-color);
}

.category {
    max-width: 255px;
    width: 100%;
    min-height: 825px;
}

.line {
    width: 5px;
    height: 45px;
    background: var(--primary-color);
    margin-right: 10px;
    transition: all .2s;
}

.list ul li a:hover .line {
    background: var(--primary-color-dark);
}

.content {
    max-width: 825px;
    min-height: 825px;
    height: auto;
}

.big-line .line {
    height: 62px;
    margin-right: 20px;
}

.big-line .list a {
    font-size: 18px;
}

.p-30-20-60 {
    padding: 30px 20px 60px;
}

form input {
    border-color: var(--primary-color);
}

form input:not([type=submit]):focus {
    border-width: 2px;
}

.submit input {
    max-width: 154px;
    width: 100%;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    height: 46px;
    transition: all .2s;
}

.submit input:hover {
    background: var(--primary-color);
    color: #fff;
}

.min-h-825 {
    min-height: 825px;
}

.bg-primary {
    background: var(--primary-color);
}

textarea {
    resize: none;
    outline: none;
    border-color: var(--primary-color);
}

.delete a input {
    transition: all .15s;
}

.delete a input:hover {
    box-shadow: 0 2px 0 0 var(--primary-color);
}

.grid-3-auto {
    grid-template-columns: repeat(auto-fit, 1fr);
}